.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #ce3333; /* Primary color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 900px) {
  .fashion__products__grid {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 50px;
  }
}

@media (max-width: 1000px) {
  .fashion__products__grid {
    display: flex;
    gap: 0px;
  }
}
